<footer class="site-footer">
  <div class="socials container">
    <a href="#" aria-label="Facebook"
      ><img src="svg/facebook.svg" width="28px" alt="Facebook"
    /></a>
    <a href="mailto:k.taranenko2010@gmail.com" aria-label="Email">
      <img src="svg/email.svg" width="28" alt="Email" />
    </a>

    <a
      href="https://www.instagram.com/romeli_kids?igsh=MWQ0N3g3Y2VwZXpmcg=="
      aria-label="Instagram"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="svg/instagram.svg" width="28" alt="Instagram" />
    </a>
  </div>
  <div class="footer-links">
    <a href="privacy.html">Polityka prywatności</a> |
    <a href="terms.html">Regulamin</a>
  </div>
</footer>
